<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @stock.product_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @stock.quantity %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
