<center><%= form_for @bill, :html => { :class => 'well form-inline'} do |f|  %>
   
  
  <div class="bill_date">
    <%= Date.today.strftime("%a, %d %b %Y") %>
  </div>

  <div class="bill_customer_name">
    <%= f.text_field :customer_name, :placeholder => "Customer Name", :class => "input-small dontprint" %>
  </div>

  <div class="bill_code">
    <%= generate_bill_code %>
    <%= f.hidden_field :code, :value => generate_bill_code %>
  </div>
  </br>
  <div class="well items_area">
    <%= f.fields_for :items do |fi| %>
     <%= render 'item_fields', :f => fi %>
    <% end %>
     
  </div>
  <div class="btn dontprint"><%= link_to_add_fields 'Add new',f,:items %>   </div>
  <div class="bill_final_inputs">
    <div class="total_amount">
      <%= f.text_field :amount, :placeholder => "Total Amount", :class => "input-small" %>
  
      <%= f.text_field :vat, :placeholder => "Vat %", :class => "input-small" %>
    </div>
    </br>
    </br>
    <%= f.text_field :advance, :placeholder => "Advance Amount", :class => "input-small advance_input" %>
    </br>
    </br>
    <%= f.text_field :balance, :placeholder => "Balance", :class => "input-small balance_input" %>
  </div> 
  
   <div class="bill_buttons">
    <%= submit_tag "Save", :class => "btn-primary dontprint" %>
  </div>
</br></br>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
      <ul>
        <% @bill.errors.full_messages.each do |msg| %>
          <li ><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<% end %>



</center>
