<h1>Bills</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>ItemID</th>
      <th>Created at</th>
      <th>Quantity</th>
      <th>TotalAmt</th>  
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.id %></td>
        <td><%= best_in_place bill, :item_id %></td>
        <td><%= bill.created_at %></td>
        <td><%= bill.quantity %></td>
	<td><%= bill.TotalAmt %></td>
        <td>
          <%= link_to 'Edit', edit_bill_path(bill), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', bill_path(bill), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_bill_path, :class => 'btn btn-primary' %>
