<p id="notice"><%= notice %></p>

<p>
   <b>Created on:</b>
   <%= @bill.created_at.to_s.to(18) %>
</p>
<p>
  <b>Code:</b>
  <%= @bill.id + 1001 %>
</p>
<p>
  <b>Customer Name:</b>
  <%= @bill.customer_name %>
</p>
<p>
  <b>Customer Phoneno:</b>
  <%= @bill.customer_phoneno %>
</p>

<table>
  <tr>
    <th>Product Code</th>
    <th>Product Name</th>
    <th>Sold Quantity</th>
    <th>Rate</th>
    <th>Size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bill.items.each do |item| %>
  <tr>
    <td><%= item.product.code %></td>
    <td><%= item.product.name %></td>
    <td><%= item.sold_qty %></td>
    <td><%= item.rate %></td>
    <td><%= item.product.size %></td>
  </tr>
<% end %>
</table>


<p>
  <b>Amt:</b>
  <%= @bill.amt %>
</p>

<p>
  <b>Vat:</b>
  <%= @bill.vat %>
</p>

<p>
  <b>Vatamt:</b>
  <%= @bill.vatamt %>
</p>

<p>
  <b>Amount:</b>
  <%= @bill.amount %>
</p>
<p>
  <b>Advance:</b>
  <%= @bill.advance %>
</p>

<p>
  <b>Balance:</b>
  <%= Integer(@bill.amount)-Integer(@bill.advance) %>
</p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
