<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @bill.code %>
</p>

<p>
  <b>Particulars:</b>
  <%= @bill.Particulars %>
</p>

<p>
  <b>Mm:</b>
  <%= @bill.mm %>
</p>

<p>
  <b>Size:</b>
  <%= @bill.size %>
</p>

<p>
  <b>Length:</b>
  <%= @bill.length %>
</p>

<p>
  <b>No:</b>
  <%= @bill.no %>
</p>

<p>
  <b>Feet:</b>
  <%= @bill.feet %>
</p>

<p>
  <b>Cft:</b>
  <%= @bill.cft %>
</p>

<p>
  <b>Sqft:</b>
  <%= @bill.sqft %>
</p>

<p>
  <b>Rate:</b>
  <%= @bill.rate %>
</p>

<p>
  <b>Amt:</b>
  <%= @bill.amt %>
</p>

<p>
  <b>Vat:</b>
  <%= @bill.vat %>
</p>

<p>
  <b>Vatamt:</b>
  <%= @bill.vatamt %>
</p>

<p>
  <b>Amount:</b>
  <%= @bill.amount %>
</p>

<p>
  <b>Balance:</b>
  <%= @bill.balance %>
</p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
