<h1>Listing customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone no</th>
    <th>Email</th>
    <th>Companyname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.address %></td>
    <td><%= customer.phone_no %></td>
    <td><%= customer.email_id %></td>
    <td><%= customer.CompanyName %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
