<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Phone no:</b>
  <%= @customer.phone_no %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email_id %>
</p>

<p>
  <b>Companyname:</b>
  <%= @customer.CompanyName %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
