<%= form_for @item, :html => { :class => ' well form-inline' } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :product_id %>
   <%= f.collection_select :product_id, Product.all, :id, :name %> 
</div>

<div class="field">
    <%= f.label :product_id %>
   <%= f.collection_select :product_id, Product.all, :id, :size %> 
</div>

<div class="field">
    <%= f.label :sold_qty %>
   <%= f.text_field :sold_qty %> 
</div>

<div class="field">
    <%= f.label :rate %>
   <%= f.text_field :rate %> 
</div>

</br>
<div class="actions">
    <%= f.submit %>
</div>

<% end %>

