<p id="notice"><%= notice %></p>

<p>
  <b>Bill:</b>
  <%= @item.bill_id %>
</p>

<p>
  <b>Product:</b>
  <%= @item.product_id %>
</p>
<p>
  <b>Mm:</b>
  <%= @item.mm %>
</p>

<p>
  <b>Size:</b>
  <%= @item.size %>
</p>

<p>
  <b>Length:</b>
  <%= @item.length %>
</p>

<p>
  <b>No:</b>
  <%= @item.no %>
</p>

<p>
  <b>Sold qty:</b>
  <%= @item.sold_qty %>
</p>
<p>
  <b>Feet:</b>
  <%= @item.feet %>
</p>

<p>
  <b>Cft:</b>
  <%= @item.cft %>
</p>

<p>
  <b>Sqft:</b>
  <%= @item.sqft %>
</p>

<p>
  <b>Rate:</b>
  <%= @item.rate %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
